.main-block{
    background-color: #FEC200;

}
 
#main-block__title{

    text-transform: uppercase;
    margin: 0 209px 0 142px;
    font-weight: 900;
    padding-top: 84px;
    color: #fff;
}

#main-block__first-line{
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
}

#main-block__second-line{
    color: #00190C;
    font-size: 72px;
    line-height: 100px;
}

#main-block__third-line{
    color: #00190C;
    font-size: 63px;
    line-height: 82px;
    font-weight: 900;
}

#main-block__fourth-line{
    font-weight: 900;
    font-size: 45px;
    line-height: 69px;
}

#main-block__fifth-line{
    font-weight: 900;
    font-size: 41px;
    line-height: 63px;
}

.main-block__images{
    margin-left: 260px;
    padding-bottom: 160px;
    
}

#main-block__first-image{
    position: relative;
    z-index: 1;
}

#main-block__second-image{
    margin-left: -25px;

    z-index: 0;
}