.total{
    margin-top: 126px;
    text-align: center;
}

#total__title{
    color: #F9CC0D;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 55px;
    line-height: 55px;
}

#total__text{
    margin-top: 16px;
    color: #fff;
    font-size: 32.2px;
    font-weight: 900;
    line-height: 32.2px;
    text-align: center;

    width: 817px;
    text-transform: uppercase;
}